/* {
    border-width: 1px;
    border-color: fuchsia;
    border-style: solid;
}*/

body {
    margin: 64px 0px 0px 0px;
    background-color: #b3b3b3;
    color: #4d4d4d;
    display: flex;
    min-height: calc(100vh - 64px);
    flex-direction: column;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    height: 64px;
    width: 100%;
    display: flex;
    background-color: #262626;
    color: #b3b3b3;
    font-size: 12pt;
    box-shadow: 0px 0px 10px 0px black;
}

main {
    background-color: #e5e5e5;
    text-align: center;
    width: 100%;
    padding-top: 1px;
    flex: 1;
    display: block;
}

footer {
    display: flex;
}

.challenge {
    width: 256px;
    height: 64px;
    background-color: white;
    box-shadow: 2.5px 2.5px 5px -2.5px black;
    margin: 16px;
    float: left;
    display: flex;
    flex-direction: column;
}

#logo {
    line-height: 13pt;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 12pt;
}

#logo-img {
    flex-basis: 64px;
}

#accountinfo {
    text-align: right;
}

.chall-title {
    flex: 1;
    font-weight: bold;
    margin: 0px;
}

.score {
    margin: 0px;
}

.flexcell {
    flex: 1;
}

#footer-logo {
    height: 48px;
    border-radius: 24px;
}

img {
    height: 100%;
}

.red {
    color: #B82814;
}

.left {
    text-align: left;
    float: left;
}


