/* {
    border-width: 1px;
    border-color: fuchsia;
    border-style: solid;
}*/

.button {
    border: none;
    color: white;
    background-color: #555555;
    padding: 4px;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: #14b967;
}

.button:active {
    background-color: #138240;
}

.button.fail {
    background-color: red;
}

input {
    border: 1px solid #B3B3B3;
    transition-duration: 0.2s;
}

input:hover {
    border-color: #4D4D4D;
}

input:focus {
    border-color: #14b967;
}

.not-available {
    background-color: grey !important;
}

.completed {
    background-color: #14b967 !important;
}

body {
    margin: 0 0 0 0;
    background-color: #e5e5e5;
    color: #4d4d4d;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 64px;
    width: 100%;
    display: flex;
    background-color: #262626;
    color: #b3b3b3;
    font-size: 12pt;
    box-shadow: 0 0 10px 0 black;
    z-index: 6;
}

main {
    margin-top: 64px;
    margin-bottom: 64px;
    z-index: 5;
    text-align: center;
    width: 100%;
    padding-top: 1px;
    flex: 1;
    display: block;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    background-color: #b3b3b3;
    align-self: center;
    align-items: center;
    z-index: 6;
}

#footer-left {
    padding-left: 16px;
}

#footer-center {
    text-align: center;
}

#footer-right {
    text-align: right;
    padding-right: 16px;
}

.challenge {
    height: 100%;
    width: 100%;
    background-color: white;
    float: left;
    display: flex;

    /*noinspection CssFloatPxLength*/
    box-shadow: 2.5px 2.5px 5px -2.5px black;
}

#logo {
    line-height: 13pt;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 12pt;
}

#logo-img {
    flex-basis: 64px;
}

#accountinfo {
    text-align: right;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 8px;
}

.chall-title {
    flex: 1;
    font-weight: bold;
    margin: 0;
}

.score {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-right {
    margin: 0;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: flex-end;
}

.flexcell {
    flex: 1;
}

#footer-logo {
    height: 48px;
    border-radius: 24px;
    vertical-align: middle;
    padding: 2px;
}

img {
    height: 100%;
}

.red {
    color: #B82814;
}

.left {
    text-align: left;
    float: left;
}

#svgContainer {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 64px;
}

.gridcontainer {
    display: grid;
    width: auto;
    height: auto;
    grid-auto-columns: 256px;
    grid-auto-rows: 64px;
    grid-column-gap: 150px;
    grid-row-gap: 125px;
    margin-left: 25px;
    margin-top: 75px;
}

.col-0 {
    grid-column-start: 1;
    grid-column-end: 1;
    display: grid;
}

.col-1 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
}

.col-2 {
    grid-column-start: 3;
    grid-column-end: 3;
    display: grid;
}

.col-3 {
    grid-column-start: 4;
    grid-column-end: 4;
    display: grid;
}

.col-4 {
    grid-column-start: 5;
    grid-column-end: 5;
    display: grid;
}

dialog {
    border: none;
    max-width: 80%;

    /*noinspection CssFloatPxLength*/
    box-shadow: 2.5px 2.5px 10px -2.5px;
}

dialog + .backdrop {
    background: rgba(0, 0, 0, .5);
}

.pointicon {
    content: url("logo_outline.svg");
    width: 1em;
    height: 1em;
    margin-right: .25em;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.pointicon:hover {
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#flaginput {
}

#flagsubmitmsg {
    color: #B82814;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
    margin: 0;
}

h3 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

#detailview {
    width: 512px;
}

.closebtn {
    float: right;
    font-size: 16pt;
}

#detailform {
    display: flex;
}

.fakelink {
    font-size: 10pt;
    text-decoration: none;
    transition-duration: 0.2s;
}

a.fakelink {
    color: #4d4d4d;
}

.fakelink:hover {
    color: #14b967;
    text-decoration: underline;
    align-self: flex-end;
    cursor: pointer;
}

#loginbutton {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16pt;
}

.formgrid {
    display: grid;
    grid-row-gap: 8px;
}

.formgrid label {
    grid-column: 1;
    padding-right: 8px;
}

.formgrid input {
    grid-column: 2;
    width: 200px;
}

menu {
    float: right;
    margin: 0;
}

.loginclose {
    float: unset;
    width: 100%;
    text-align: right;
}

.loginswitch {
    display: flex;
}

.logintab {
    border-style: solid;
    border-width: 0;
    border-bottom-width: 4px;
    border-color: #4d4d4d;
    color: #4d4d4d;
    transition-duration: 0.2s;
}

.logintab:hover {
    color: #14b967;
    cursor: pointer;
}

.logintab.active {
    border-color: #14b967;
    color: black;
}

.logintab.active:hover {
    color: black;
}
