{{ template "header" . }}
<main class="" style="display: flex; flex-flow: row wrap; align-content: strech;">
  <div id="table" class="flexcell" >
    <table>
      <tbody>
      </tbody>
    </table>
  </div>
  <div style="min-width: 0; flex-basis: 25%; margin-right: 24px;" class="flexcell">
    <h1>Point Graph</h1>
  <canvas id="graph"></canvas>
  </div>
  <div class="flexcell">
  <!-- User Management -->
  <table style="flex-basis: 30%;">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Points</th>
        <th>Admin</th>
        <th></th>
      </tr>
  {{ range .AllUsers }}
  <tr>
    <td>{{.DisplayName}}</td>
    <td>{{.Name}}</td>
    <td>{{.Points}}</td>
    <td>{{.Admin}}</td>
    <td><button onclick=update({{.Name}})>Update</button></td>
  </tr>
  {{end}}
    </tbody>
  </table>
  </div>
    <script src="static/Chart.bundle.min.js" type="text/javascript"></script>
    <script src="static/leaderboard.js" type="text/javascript"></script>
    <dialog id="ud">
      <form style="display: grid; grid-template-columns: auto auto; justify-content: space-between; grid-row-gap: 0.5em;" method="POST">
        <label class="row-0 col-0" for="namechange">E-Mail: </label>
        <input class="row-0 col-1" id="namechange" readonly style="background-color: grey;" type="text" name="name"></input>
        <label class="row-1 col-0" for="displaynamechange">DisplayName: </label>
        <input class="row-1 col-1" id="displaynamechange" type="text" name="displayname"></input>
        <label class="row-2 col-0" for="pointschange">Points: </label>
        <input class="row-2 col-1" id="pointschange"  type="number" name="points"></input>
        <label class="row-3 col-0" for="adminchange">(does not work) Admin: </label>
        <input class="row-3 col-1" id="adminchange" type="checkbox" name="admin"></input>
        <span class="row-4 col-0"></span>
        <input class="row-4 col-1" type="submit"></input>
      </form>
    </dialog>
</main>
{{ template "footer" . }}
