{{ define "header" }}
<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
  <head>
    <title>FOSS-AG CTF</title>
    <link rel="stylesheet" type="text/css" href="static/clearsans/clearsans.css" />
    <link rel="stylesheet" type="text/css" href="static/fira/fira.css"/>
    <link rel="stylesheet" type="text/css" href="static/materialdesignicons/css/materialdesignicons.min.css" />
    <link rel="stylesheet" type="text/css" href="static/dialog-polyfill.css" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <style type="text/css">
        {{range.RowNums}}
        .row-{{.Index}} {
            grid-row-start: {{.Pos}};
            grid-row-end: {{.Pos}};
        }
        {{end}}
        {{range.ColNums}}
        .col-{{.Index}} {
            grid-column-start: {{.Pos}};
            grid-column-end: {{.Pos}};
        }
        {{end}}
    </style>
  </head>
  <body class="clearsans dragscroll">
    <header>
      <div class="flexcell" id="logo">
        <img alt="Logo" id="logo-img" src="dist/{{.Config.Icon}}" />
        <div>
          // {{.Config.FirstLine}}<br />
          // <span class="red">{{.Config.SecondLine}}</span>
        </div>
      <div class="flexcell" id="siteselectcol">
        <span class="big-link"></span>
        <a class="big-link {{if .Leaderboard}}{{else}}selected-big-link{{end}}" href="/">Challenges</a>
        <a class="big-link {{if .Leaderboard}}selected-big-link{{end}}" href="/leaderboard">Leaderboard</a>
      </div>
      </div>
      <div class="flexcell" id="accountinfo">
        {{if .IsUser}}
          <div class="flexcell"><span class="link flexcell" id="userdialogbutton">{{.User.DisplayName}}</span></div>
          <div class="score-right flexcell firamono"><span class="pointicon"></span> {{.User.Points}}</div>
          <div class="flexcell">
          <span class="link" id="logoutbutton">Logout</span>
          {{if .User.Admin}} <a class="link" href="/admin">Admin</a>{{end}}
          </div>
        {{else}}
        <span class="link" id="loginbutton"><span class="mdi mdi-login-variant"></span> Login</span>
        {{end}}
      </div>
    <dialog id="logindialog">
      <div class="mdi mdi-close closebtn loginclose" id="logincancelbutton"></div>
      <h2 class="loginswitch">
        <span class="flexcell logintab active">Login</span>
        <span class="flexcell logintab" id="registerbutton">Register</span>
      </h2>
      <form id="loginform">
        <div class="red" id="loginerror"></div>
        <p class="formgrid">
          <label for="loginuserbox">E-Mail:</label>
          <input id="loginuserbox" type="email" name="username" placeholder="john.doe@example.com"/>

          <label for="loginpassbox">Password:</label>
          <input id="loginpassbox" type="password" name="password"/>
        </p>
        <span id="loginloading" class="loadingbar" style="display: none;"></span>
        </br>
        <menu>
          <button class="button" type="submit" id="loginsubmit"><span class="mdi mdi-login-variant"></span> Login</button>
        </menu>
      </form>
    </dialog>
    <dialog id="registerdialog">
      <div class="mdi mdi-close closebtn loginclose" id="registercancelbutton"></div>
      <h2 class="loginswitch">
        <span class="flexcell logintab" id="logintabbutton">Login</span>
        <span class="flexcell logintab active">Register</span>
      </h2>
      <form id="registerform" method="POST" action="/register">
        <div class="red" id="registererror"></div>
        <p class="formgrid">
          <label for="registeruserbox">E-Mail:</label>
          <input id="registeruserbox" type="email" name="username" placeholder="john.doe@tu-dortmund.de"/>
          <label for="displaynamebox">DisplayName:</label>
          <input id="displaynamebox" type="text" name="displayname" value="{{.GeneratedName}}"/>

          <label for="registerpassbox">Password:</label>
          <input id="registerpassbox" type="password" name="password"/>
        </p>
        <span id="registerloading" class="loadingbar" style="display: none;"></span>
        <br/>
        <menu>
          <button class="button" type="submit" id="registersubmit"><span class="mdi mdi-account-plus"></span> Register</button>
        </menu>
      </form>
    </dialog>
    <dialog id="userdialog">
      <h2>Edit User</h2>

      <form id="edituserform" method="POST" action="/changepassword">
        <div class="red" id="editusererror"></div>
        <p class="formgrid">
          <label for="edituseroldpassbox">Old Password:</label>
          <input id="edituseroldpassbox" type="password" name="oldpassword"/>
          <label for="edituseroldpassbox">New Password:</label>
          <input id="editusernewpassbox" type="password" name="newpassword"/>
          <label for="edituseroldpassbox">Repeat New Password:</label>
          <input id="edituserrepeatnewpassbox" type="password" name="repeatnewpassword"/>
        </p>
        <span id="edituserloading" class="loadingbar" style="display: none;"></span>
        <br/>
        <menu>
          <button class="button" type="submit" id="editusersubmit"><span class="mdi mdi-account-plus"></span> Edit</button>
        </menu>
      </form>
    </dialog>
    </header>
    <script src="static/dialog-polyfill.js"></script>
    {{end}}
