{{ define "header" }}
<!DOCTYPE html>
<html>
  <head>
    <title>FOSS-AG CTF</title>
    <link rel="stylesheet" type="text/css" href="static/clearsans/clearsans.css" />
    <link rel="stylesheet" type="text/css" href="static/fira/fira.css"/>
    <link rel="stylesheet" type="text/css" href="static/materialdesignicons/css/materialdesignicons.min.css" />
    <link rel="stylesheet" type="text/css" href="static/dialog-polyfill.css" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body class="clearsans">
    <header>
      <div class="flexcell" id="logo">
        <img id="logo-img" src="static/logo_red.svg" />
        <div>
          // FOSS-AG<br />
          // <span class="red">CTF</span>
        </div>
      </div>
      <div class="flexcell" id="accountinfo">
        {{if .IsUser}}
          <div class="flexcell">{{.User.Name}}</div>
          <div class="score-right flexcell firamono"><span class="pointicon"></span> {{.User.CalculatePoints}}</div>
          <span class="fakelink flexcell" id="logoutbutton">Logout</span>
        {{else}}
        <span class="fakelink" id="loginbutton">Login</span>
        {{end}}
      </div>
    <dialog id="logindialog">
      <div class="mdi mdi-close closebtn loginclose" id="logincancelbutton"></div>
      <h2 class="loginswitch">
        <span class="flexcell logintab active">Login</span>
        <span class="flexcell logintab" id="registerbutton">Register</span>
      </h2>
      <form method="POST" action="/login">
        <p class="formgrid">
          <label for="username">E-Mail:</label>
          <input id="loginuserbox" type="email" name="username" placeholder="john.doe@tu-dortmund.de"/>

          <label for="password">Password:</label>
          <input id="loginpassbox" type="password" name="password"/>
        </p>
        <menu>
          <button class="button" type="submit">Login</button>
        </menu>
      </form>
    </dialog>
    <dialog id="registerdialog">
      <div class="mdi mdi-close closebtn loginclose" id="registercancelbutton"></div>
      <h2 class="loginswitch">
        <span class="flexcell logintab" id="logintabbutton">Login</span>
        <span class="flexcell logintab active">Register</span>
      </h2>
      <form method="POST" action="/register">
        <p class="formgrid">
          <label for="username">E-Mail:</label>
          <input id="registeruserbox" type="email" name="username" placeholder="john.doe@tu-dortmund.de"/>

          <label for="password">Password:</label>
          <input id="registerpassbox" type="password" name="password"/>
        </p>
        <menu>
          <button class="button" type="submit">Register</button>
        </menu>
      </form>
    </dialog>
    <script src="static/login-register.js" type="text/javascript"></script>
    </header>
    {{end}}
