{{ define "header" }}
<!DOCTYPE html>
<html>
  <head>
    <title>FOSS-AG CTF</title>
    <link rel="stylesheet" type="text/css" href="static/clearsans/clearsans.css" />
    <link rel="stylesheet" type="text/css" href="static/fira/fira.css"/>
    <link rel="stylesheet" type="text/css" href="static/materialdesignicons/css/materialdesignicons.min.css" />
    <link rel="stylesheet" type="text/css" href="static/dialog-polyfill.css" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body class="clearsans">
    <header>
      <div class="flexcell" id="logo">
        <img id="logo-img" src="static/logo_red.svg" />
        <div>
          // FOSS-AG<br />
          // <span class="red">CTF</span>
        </div>
      </div>
      <div class="flexcell" id="accountinfo">
        {{if .IsUser}}
          <div class="flexcell">{{.User.Name}}</div>
          <div class="score-right flexcell firamono"><span class="pointicon"></span> {{.User.CalculatePoints}}</div>
          <span class="fakelink flexcell" id="logoutbutton">Logout</span>
        {{else}}
        <span class="fakelink" id="loginbutton">Login</span>
        {{end}}
      </div>
    </header>
    {{end}}
