{{ template "header" . }}

    <main class="flexcell gridcontainer">
      {{ $user := .User }}
      {{ range.Challenges }}
      <div id="{{.Name}}" class="{{if $user.HasSolvedChallenge . }}completed {{end}}{{if .AllDepsCompleted $user}}{{else}}not-available{{end}} challenge row-{{.Row}} col-{{.DepCount}}">
        <p class="chall-title">{{.Name}}</p>
        <p class="score firamono"><span class="pointicon"></span> {{.Points}}</p>
      </div>
      {{ end }}

      <script>
        var colnum = new Map();
        {{ range.Challenges}}
colnum.set("{{.Name}}",{col: "{{.DepCount}}", row: "{{.Row}}"});
        {{end}}
        function start(){
          {{if .IsUser}}{{else}}document.getElementById("loginbutton").click();{{end}}
          {{ if .IsUser }}
              {{ range.Challenges }}
                  {{ if .AllDepsCompleted $user}}
                    addChallEventListener("{{.Name}}", "{{.Points}}");
                  {{end}}
              {{end}}
          {{ else }}
            {{ range.Challenges }}
                document.getElementById({{.Name}}).addEventListener("click", function () {
                    document.getElementById("loginbutton").click();
                });
            {{ end }}
          {{ end }}
          connectAll();
  {{if .HasSelectedChallengeID }} document.getElementById("{{.SelectedChallengeID}}").click();{{else}}{{end}}
        }
        function connectAll(){
          var i = 0
          var colors =
          ["#262626",
          "#4d4d4d",
          "#808080",
          "#606060",
          "#3b3b3b"];
          var svg1 = document.getElementById("svg1");

          var color = new Map();
          {{ range.Challenges}}
          {{if .DepIDs}}
          {{if $user.HasSolvedChallenge .}}
          color.set({{.Name}},"#14b967");
          {{else}}
          color.set({{.Name}},colors[i % (colors.length-1)]);
          {{end}}
          connectElementss(svg1 , {{.Name}}, {{.DepIDs}},color.get({{.Name}}));
          i++;
            {{end}}
            {{end}}
        }
      
      </script>
    </main>
    <div id="svgContainer"><svg id="svg1" width="0" height="0">
      </svg></div>
    <dialog id="detailview">
      <span class="mdi mdi-close closebtn" id="detailclosebutton"></span>
      <h1 id="detailtitle"></h1>
      <h3><span class="pointicon"></span><span id="detailpoints" class="firamono"></span></h3>
      <a id="challuri" class="challengelink" style="display: none;">Zur Challenge!</a>
      <div id="detaildescription"></div>
      <div id="flagsubmitmsg"></div>
      <div id="detailform">
        <input type="text" placeholder="FOSS{**********}" id="flaginput" class="firamono flexcell"></input>
        <input class="button flagsubmitbutton" type="submit" id="flagsubmitbutton" value="Submit Flag"></input>
      </div>
      <div id="solutiondiv">
        <button class="button" id="solutionbutton" value="Show Reccomended Solution">Show Reccomended Solution</button>
        <div id="solutioninnerdiv"></div>
      </div>
      <span id="checkloading" class="loadingbar" style="display: none;"></span>
    </dialog>
    <script src="static/main.js" type="text/javascript"></script>

{{ template "footer" . }}
