{{ template "header" . }}
<main style="margin-top: 96px; justify-content: space-between; align-items: strech; display: flex;">
  <div id="table" style="flex-grow: 1; flex-shrink: 1; flex-basis: 20%; margin-right: 24px;" class="flexcell">
    <table>
      <tbody>
      </tbody>
    </table>
  </div>
  <div style="min-width: 0; flex-basis: 80%; margin-right: 24px;" class="flexcell">
  <canvas id="graph"></canvas>
  </div>
    <script src="static/Chart.bundle.min.js" type="text/javascript"></script>
    <script src="static/leaderboard.js" type="text/javascript"></script>
</main>
{{ template "footer" . }}
